/* #37003c */
.header {
    margin-bottom: 20px;
}


.logoHeader {
    display: flex;
    align-items: center;
    max-width: 1250px;
    margin: auto;
}

.logoHeader p {
    white-space: nowrap;
    font-weight: 600;
    opacity: 0.5;
}

.logoHeader ul {
    display: flex;
}

.logoHeader ul li {
    padding: 7px;
}

.logoHeader ul img {
    width: 50px;
    height: 50px;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #37003c;
    color: white;
    padding: 20px 0px;
}

.nav ul {
    display: flex;
    max-width: 1250px;
    width: 100%;
    padding-left: 150px;
}

.nav ul li {
    font-size: 15px;
    font-weight: 700;
    margin: 0 10px;
}

.navLogo {
    background-color: white;
    position: absolute;
    top: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}