.profile {
    background-image: url('../../../public/imgs/profile_back.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    color: white;
    margin-bottom: 20px;
    border-radius: 6px;
}

.profile .profileInner {
    display: flex;
    justify-content: space-between;
}

.profile .playerInfo {
    display: flex;
    align-items: center;
}

.profile .playerInfo p {
    font-size: 14px;
    font-weight: 600;
    /* color: #acb2bc; */
}

.profile .playerInfo p:first-child {
    font-size: 36px;
    font-weight: 700;
}

.profile .playerImg {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 2px solid #a48d8d;
    margin-right: 30px;
}

.profile .team {
    display: flex;
    align-items: center;
    text-align: start;
}

.profile .teamLogo {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.profile .team p {
    font-size: 20px;
    font-weight: 600;
}













.squad {
    background-color: #37003c;
    color: white;
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.squad .profileInner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.squad .playerInfo {
    display: flex;
    align-items: center;
    width: 100%;

}

.squad .playerInfo p {
    font-size: 14px;
    font-weight: 600;
    /* color: #acb2bc; */
}

.squad .playerInfo p:first-child {
    font-weight: 700;
}

.squad .playerImg {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 2px solid #a48d8d;
    margin-right: 30px;
}

.squad .playerInfoText {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.squad .playerInfoText p {
    margin: 0 5px;
}

.squad .playerInfoText p:first-child {
    position: absolute;
    left: 0;
}

.squad .team {
    display: flex;
    align-items: center;
    text-align: start;
}

.squad .teamLogo {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.squad .team p {
    font-size: 20px;
    font-weight: 600;
}

/* <section className={styles.profile}>
            <div className={styles.profileInner}>
                <div className={styles.playerInfo}>
                    <img className={styles.img} src={player.player.photo} alt="player_img" />
                    <p>{player.player.name}</p>
                    <p>{player.player.birth.country}</p>
                    <p>{player.player.age}</p>
                    <p>{player.player.height}/{player.player.weight}</p>
                </div>
                <div className={styles.team}>
                    <img src={player.statistics[0].team.logo} alt="team_logo" />
                    <p>{player.statistics[0].team.name}</p>
                </div>
            </div>
        </section> */