.profile {
    background-image: url('../../../public/imgs/profile_back.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    color: white;
    margin-bottom: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.profile .profileInner {
    display: flex;
    justify-content: space-between;
}

.profile .playerInfo {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.profile .playerInfo p {
    font-size: 14px;
    font-weight: 600;
    /* color: #acb2bc; */
}

.profile .playerInfo p:first-child {
    font-size: 36px;
    font-weight: 700;
    white-space: pre-wrap;
}

.profile .playerImg {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 2px solid #a48d8d;
    margin-right: 30px;
}

.profile .team {
    display: flex;
    align-items: center;
    text-align: start;
}

.profile .teamLogo {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.profile .team p {
    font-size: 20px;
    font-weight: 600;
}







.squad {
    background-color: #37003c;
    color: white;
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.squad .profileInner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.squad .playerInfo {
    display: flex;
    align-items: center;
    width: 100%;

}

.squad .playerInfo p {
    font-size: 14px;
    font-weight: 600;
    /* color: #acb2bc; */
}

.squad .playerInfo p:first-child {
    font-weight: 700;
}

.squad .playerImg {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 2px solid #a48d8d;
    margin-right: 30px;
}

.squad .playerInfoText {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.squad .playerInfoText p {
    margin: 0 5px;
}

.squad .playerInfoText p:first-child {
    position: absolute;
    left: 0;
}

.squad .team {
    display: flex;
    align-items: center;
    text-align: start;
}

.squad .teamLogo {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.squad .team p {
    font-size: 20px;
    font-weight: 600;
}


@media (max-width: 1100px) {

    .profile .playerInfo p:first-child {
        font-size: 20px;
    }

}