.clubInfoPageBanner {
    position: relative;
    width: 100%;
    height: 320px;
    background-color: rgba(0, 0, 0, 5);
    color: white;
}

.ss {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.clubInfoPageBanner .bannerImg {
    display: block;
    background-image: url(../../../public/imgs/banner.webp);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clubLogo {
    /* position: absolute; */
    position: relative;
    background-color: white;
    border: 2px solid #969090;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 50px;
}

.clubLogoInner {
    display: block;
    pointer-events: none;
}

.clubLogoInner img {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
}

.clubInfo {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.clubInfoTxt h1 {
    font-size: 50px;
}

.clubInfoTxt p {
    font-size: 14px;
    padding-bottom: 5px;
}



.buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.buttons button {
    font-weight: 600;
    background-color: #ebebe6;
    max-width: 120px;
    width: 100%;
    padding: 15px;
    margin: 0 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}