* {
  box-sizing: border-box;
}

h1,
h2,
span,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

.appInner {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.appRight {
  flex-basis: 60%;
}